@{ ViewData["Title"] = "Home Page"; }
<link rel="stylesheet" href="~/css/style.css" />
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='/js/site.js'></script>


<div id="thing">
    <h1> THING TO CLICK </h1>
</div>
<div id="thingcount">
    <p></p>
</div>
<div id="item">
    <h1> ITEM TO CLICK </h1>
</div>
<!--close display-->
<div>
    <ul id="items">

    </ul>
</div>

<div id="display">
    <div class="Tool">
    </div>
    <!--Tool-->
</div>
<!--close display-->